extends layout

block content
  h1 Grand Openings  
  form(method="POST", action="/")
    div.formGroup
      h2 Store Details
      div.one-half
        label Client Key
        input#storeNum(type=text, name="storeNum")

      div.one-half
        label Store Name
        input#storeName(type=text, name="storeName")

      div.one-quarter
        label Opening Soon
        input#openingSoon(type=text, name="openingSoon")

      div.one-quarter
        label New Store
        input#newStore(type=text, name="newStore")

      div.one-quarter
        label Grand Opening
        input#go(type=text, name="go")
        
      div.one-quarter
        label Grand Opening Date
        input#goDate.datepicker(type=text, name='goDate')

      // Preview Day & Times
      div.previewDate(ng-repeat="prevDate in prevDates", name="previewDates")
        label Grand Opening Preview Day & Time
        div.dateGroup
          select.goPrevDate(name="goPrevDate" ng-model="prv_day")
            option(ng-repeat="weekday in weekdays") {{weekday.day}}

          select.goPrevDate_startHour(name="goPrevDate_startHour" ng-model="prv_st_hr")
            option(ng-repeat="n in [] | hourRange:12", value=n) {{n}}
          span :
          select.goPrevDate_startMinute(name="goPrevDate_startMinute" ng-model="prv_st_min")
            option(ng-repeat="n in [] | minuteRange:59", value=n) {{n}}

          select.goPrevDate_startAmPm(name="goPrevDate_startAmPm" ng-model="prv_st_ampm")
            option(value="AM") AM
            option(value="PM") PM
          span  -
          //End Time
          select.goPrevDate_endHour(name="goPrevDate_endHour" ng-model="prv_en_hr")
            option(ng-repeat="n in [] | hourRange:12", value=n) {{n}}
          span :
          select.goPrevDate_endMinute(name="goPrevDate_endMinute" ng-model="prv_en_min")
            option(ng-repeat="n in [] | minuteRange:59", value=n) {{n}}

          select.goPrevDate_endAmPm(name="goPrevDate_endAmPm" ng-model="prv_en_ampm")
            option(value="AM") AM
            option(value="PM") PM    

        input(type="hidden" name="goPrevDateStart" value="{{prv_day}} {{prv_st_hr}}:{{prv_st_min}} {{prv_st_ampm}}")
        input(type="hidden" name="goPrevDateEnd" value="{{prv_day}} {{prv_en_hr}}:{{prv_en_min}} {{prv_en_ampm}}")

      div.addPreviewDate
        button(type="button",ng-click="duplicatePrevEvent()") Add Preview Date +
        
      //GO Event Days & Times
      div.eventDate
        label Grand Opening Event Day & Time
        div.dateGroup
          select#goEventDate(name="goEventDate" ng-model="evt_day")
            option(ng-repeat="weekday in weekdays") {{weekday.day}}

          select#goEventDate_startHour(name="goEventDate_startHour" ng-model="evt_st_hr")
            option(ng-repeat="n in [] | hourRange:12", value=n) {{n}}
          span :
          select#goEventDate_startMinute(name="goEventDate_startMinute" ng-model="evt_st_min")
            option(ng-repeat="n in [] | minuteRange:59", value=n) {{n}}

          select#goEventDate_startAmPm(name="goEventDate_startAmPm" ng-model="evt_st_ampm")
            option(value="AM") AM
            option(value="PM") PM
          
          span  - 
            
          //End Time  
          select#goEventDate_endHour(name="goEventDate_endHour" ng-model="evt_en_hr")
            option(ng-repeat="n in [] | hourRange:12", value=n) {{n}}
          span :
          select#goEventDate_endMinute(name="goEventDate_endMinute" ng-model="evt_en_min")
            option(ng-repeat="n in [] | minuteRange:59", value=n) {{n}}

          select#goEventDate_endAmPm(name="goEventDate_endAmPm" ng-model="evt_en_ampm")
            option(value="AM") AM
            option(value="PM") PM
            
          input(type="hidden" name="goEvtDateStart" value="{{evt_day}} {{evt_st_hr}}:{{evt_st_min}} {{evt_st_ampm}}")
          input(type="hidden" name="goEvtDateEnd" value="{{evt_day}} {{evt_en_hr}}:{{evt_en_min}} {{evt_en_ampm}}")

      
      div.addGoEventDate
        button(type="button") Add Grand Opening Event Date +

      //Coupon Info (There are 2 fields in the spreadsheet, but they are the same)
      div
        label Coupon URL
        input#couponImg(type=text, name="couponImg")
    
    //Appearance Info -- will add more of these sections dynamically
    div.formGroup
      h2 Special Appearances
      
      div
        label Appearance Image
        input#appearanceImg1(type=text, name="appearanceImg1")
        
      div.one-third
        label Appearance Date
        input#appearanceDate.datepicker(type=text, name="appearanceDate")
        
      div.one-third
        label Appearance Name
        input#appearanceName1(type=text, name="appearanceName1")
        
      div.one-third
        label Appearance Title
        input#appearanceTitle1(type=text, name="appearanceTitle1")
        
      div
        label Appearance Time 1
        div.dateGroup
          select#appearDate_startHour(name="appearDate_startHour")
            option(ng-repeat="n in [] | hourRange:12", value=n) {{n}}
          span :
          select#appearDate_startMinute(name="appearDate_startMinute")
            option(ng-repeat="n in [] | minuteRange:59", value=n) {{n}}

          select#appearDate_startAmPm(name="appearDate_startAmPm")
            option(value="AM") AM
            option(value="PM") PM
          
          span  - 
            
          //End Time  
          select#appearDate_endHour(name="appearDate_endHour")
            option(ng-repeat="n in [] | hourRange:12", value=n) {{n}}
          span :
          select#appearDate_endMinute(name="appearDate_endMinute")
            option(ng-repeat="n in [] | minuteRange:59", value=n) {{n}}

          select#appearDate_endAmPm(name="appearDate_endAmPm")
            option(value="AM") AM
            option(value="PM") PM

      div
          label Appearance Description
          //Convert to all uppercase
          textarea#appearanceDesc1(rows=5, name="appearanceDesc1")
          
      div.addAppearance
        button(type="button") Add Appearance +
          
    //Addtl Gift Locker Giveaways      
    div.formGroup
      h2 Additional Gift Locker Giveaways
      
      //Day 1
      div.one-third
        label 
          strong Giveaway Date 1
        input#giveawayDate.datepicker(type=text, name="giveawayDate")
        
        div.giveawayGroup
          label Giveaway Time & Title
          input#giveawayD1Title1.datepicker(type=text, name="giveawayD1T1")
          
          label Giveaway Desc.
          input#giveawayD1Desc1(type=text, name="giveawayD1Dec1")
          
          label Giveaway Savings
          input#giveawayD1Savings1(type=text, name="giveawayD1Savings1")
          
        div.addGiveaway1
          button(type="button") Add Giveaway +
        
      //Day 2  
      div.one-third
        label 
        strong Giveaway Date 2
        input#giveawayDate2.datepicker(type=text, name="giveawayDate2")
        
        div.giveawayGroup
          label Giveaway Time & Title
          input#giveawayD2Title1.datepicker(type=text, name="giveawayD2T1")
          
          label Giveaway Desc.
          input#giveawayD2Desc1(type=text, name="giveawayD2Desc1")
          
          label Giveaway Savings
          input#giveawayD2Savings1(type=text, name="giveawayD2Savings1")
          
        div.addGiveaway2
          button(type="button") Add Giveaway +
          
      //Day 3 
      div.one-third
        label 
        strong Giveaway Date 3
        input#giveawayDate3.datepicker(type=text, name="giveawayDate3")
        
        div.giveawayGroup
          label Giveaway Time & Title
          input#giveawayD3Title1.datepicker(type=text, name="giveawayD3T1")
          
          label Giveaway Desc.
          input#giveawayD3Desc1(type=text, name="giveawayD3Desc1")
          
          label Giveaway Savings
          input#giveawayD3Savings1(type=text, name="giveawayD3Savings1")
          
        div.addGiveaway3
          button(type="button") Add Giveaway +
          
    //Enter for a Chance to Win      
    div.formGroup
      h2 Enter for a Chance to Win
      
      div.one-third
        div.winGroup
          label GO Win Brand
          input#winC1Brand1(type=text, name="winC1Brand1")
          
          label Win Desc.
          input#winC1Desc1(type=text, name="winC1Dec1")
          
          label Win Savings
          input#winC1Savings1(type=text, name="winC1Savings1")
          
        div.addWin1
          button(type="button") Add Win +
         
      div.one-third
        div.winGroup
          label GO Win Brand
          input#winC2Brand1(type=text, name="winC2Brand1")
          
          label Win Desc.
          input#winC2Desc1(type=text, name="winC2Dec1")
          
          label Win Savings
          input#winC2Savings1(type=text, name="winC2Savings1")
          
        div.addWin2
          button(type="button") Add Win +
          
      div.one-third
        div.winGroup
          label GO Win Brand
          input#winC3Brand1(type=text, name="winC3Brand1")
          
          label Win Desc.
          input#winC3Desc1(type=text, name="winC3Dec1")
          
          label Win Savings
          input#winC3Savings1(type=text, name="winC3Savings1")
          
        div.addWin3
          button(type="button") Add Win +
      
    //Social Image
    div.formGroup
      h2 Social Image
      div
        label Social Image URL
        input#socialImg(type=text, name="socialImg")
        
    //Disclaimer    
    div.formGroup
      h2 Disclaimer
      div
        label Disclaimer
        textarea#disclaimer(rows=5, name="disclaimer")
      
          
    input(type='submit')
